<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_camera.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/shimano_logo.jpg') }}" alt="Testing" class="logo">
            </div>
            <div class="header-text">
                <h1>Shimano Singapore</h1>
                <h3>ADS Fault Monitoring Dashboard</h3>
            </div>
        </div>
    </header>
      <div class="container">
        <div class="login-container">
            <h1>Add New Camera</h1>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form class="login-form" method="POST" action="{{ url_for('add_camera') }}"> 
                <label for="description"> Camera Name/Description : </label>
                <input type="text" name="description" placeholder="Eg. Front Gate" id="description" value="{{ description | default('') }}" required>

                <!--<label for="device_index">Camera Device Index:</label>
                <input type="number" min="0" class="form-control" id="device_index" name="device_index" value="{{ device_index | default(0) }}" required>
                <small class="form-text text-muted">Usually 0 for default webcam, 1 for next, etc.</small>-->

                <button type="submit" class="login-button">Add Camera</button>
                <a href="{{ url_for('camera_list') }}" class="login-button cancel-button">Cancel</a> 
            </form>
        </div>
    </div>
</body>
</html>