<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera_list.css') }}">
</head>
<body>
     <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/shimano_logo.jpg') }}" alt="Testing" class="logo">
            </div>
            <div class="header-text">
                <h1>Shimano Singapore</h1>
                <h3>ADS Fault Monitoring Dashboard</h3>
            </div>
            <div class="user_info">
                <h1>Welcome {{ username }}!</h1>
            </div>
        </div>
      </header>  
</body>
<div class="container">
    <h2 style="text-align: center; padding: 10px;">Camera Management</h2>
    <div>
        <div class="camera-actions">
            <a href="{{ url_for('add_camera') }}" class="control-button green">Add New Camera</a><a href="{{ url_for('feed_view') }} " class="control-button blue">Feed View</a>
    </div>
    <div class="camera-list">
        {% for camera_id, camera in cameras.items() %}
        <div class="camera-item">
            <div class="camera-info">
                <h3>Camera {{ camera_id }}</h3>
                <p>{{ camera.description }}</p>            
            </div>
            <div class="camera-actions">
                <form method="POST" action="{{ url_for('delete_camera', camera_id=camera_id) }}">
                    <input type="submit" value="Delete" class="control-button red">
                </form>                 
                <a href="{{ url_for('index', camera_id=camera_id) }}" class="control-button blue">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <button class="view-all-button">Feed View</button> -->
<div class="section-divider"></div>
<div class="control-buttons">
    <form method="post" action="/logout">
        <input type="submit" value="Logout" class="control-button red">
    </form>
</div>
</body>
</html>