<!-- Place holder for multiple camera feed -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Feed View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed_view.css') }}">
</head>
<body>
    
    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/shimano_logo.jpg') }}" alt="Testing" class="logo">
            </div>
            <div class="header-text">
                <h1>Shimano Singapore</h1>
                <h3>ADS Fault Monitoring Dashboard</h3>
            </div>
        </div>
      </header>
    <div class="container">
        <!-- Multiple camera feeds with refresh button -->
        <h1 style="text-align: center; padding: 10px;">Live Stream</h1>
        <div class="stream-container">
            <div class="live-stream">
                <h3>Camera 1</h3>
                <img src="/video_feed" alt="Live Video Stream">
                <div>
                    <button class="refresh-button">Refresh</button>
                </div>
            </div>
            <div class="live-stream">
                <h3>Camera 2</h3>
                <img src="/video_feed" alt="Live Video Stream">
                <div>
                    <button class="refresh-button">Refresh</button>
                </div>            
            </div>
            <div class="live-stream">
                <h3>Camera 3</h3>
                <img src="/video_feed" alt="Live Video Stream">
                <div>
                    <button class="refresh-button">Refresh</button>
                </div>            
            </div>
            <div class="live-stream">
                <h3>Camera 4</h3>
                <img src="/video_feed" alt="Live Video Stream">
                <div>
                    <button class="refresh-button">Refresh</button>
                </div>            
            </div>
            <div class="live-stream">
                <h3>Camera 5</h3>
                <img src="/video_feed" alt="Live Video Stream">
                <div>
                    <button class="refresh-button">Refresh</button>
                </div>            
            </div>
            <div class="live-stream">
                <h3>Camera 6</h3>
                <img src="/video_feed" alt="Live Video Stream">
                <div>
                    <button class="refresh-button">Refresh</button>
                </div>            
            </div>
        </div>
        <div class="section-divider"></div>
        <div class="control-buttons"> 
            <a href="{{ url_for('camera_list') }}" class="control-button blue">Back to Camera List</a>    
        </div>
    </div>
</body>
</html>