<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Recorded Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/incident.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/shimano_logo.jpg') }}" alt="Testing" class="logo">
            </div>
            <div class="header-text">
                <h1>Shimano Singapore</h1>
                <h3>ADS Fault Monitoring Dashboard</h3>
            </div>
            <div class="user_info">
                <h1>Welcome {{ username }}!</h1>
                <h2>Current Camera ID: {{ camera_id }}</h2>
            </div>
        </div>
        <nav class="navbar">
            <div class="nav-links">
                <a href="{{ url_for('index', camera_id=camera_id) }}">Home</a>
                <a href="{{ url_for('videos', camera_id=camera_id) }}">Recorded Videos</a>
                <a href="{{ url_for('incident_videos', camera_id=camera_id) }}">Incident Video</a>
                <a href="{{ url_for('settings_page', camera_id=camera_id) }}">Settings</a>
                <a href="{{ url_for('camera_list') }}">All Cameras</a> <!-- Assuming this page does not need camera_id -->
            </div>
        </nav> 
    </header>

   
    <div class="container">
        <div class="center-container">
            <form method="POST" action="{{ url_for('update_incident_info', camera_id=camera_id) }}">
                <button type="submit" class="action-button update-button">Update Info</button>
            </form>
            <input type="text" id="searchInput" placeholder="Search for videos..." class="search-field">
            <button onclick="searchTable()" class="action-button search-button">Search</button>
            <button onclick="resetTable()" class="action-button cancel-button">Cancel</button>
        </div>
       
            <h2>Incident Videos</h2>
            {% if incident_videos %}
            <div class="status-circle" id="status-circle"></div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="videoTableBody">
                    {% for video in incident_videos %}
                    <tr>
                        <td>{{ video.filename }}</td>
                        <td class="actions">
                            <button onclick="playVideo('{{ video.filename }}')" class="action-button play-button">Play</button>
                            <a href="/static/{{ video.path }}" class="action-button download-button"target="_blank">Download</a>
                            <!-- <a href="/static/{{ video.path }}" class="action-button view-button" target="_blank">View</a> -->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                <!-- <div class="playback-section">
                    <h3>Playback</h3>
                    <video id="video-player" controls>
                        <source id="video-source" src="" type="video/mp4"></video>
                </div> -->
                <script>
                    function playVideo(filename) {
                        const videoSource = document.getElementById("video-source");
                        const videoPlayer = document.getElementById("video-player");
                        videoSource.src = `/src/recordings/${filename}`;
                        videoPlayer.load();
                        videoPlayer.scrollIntoView({ behavior: "smooth" }); 
                    }
                    function searchTable(){
                        var input = document.getElementById('searchInput').value.toLowerCase();
                        var tableBody = document.getElementById('videoTableBody');
                        var rows = tableBody.getElementsByTagName('tr');
                        for (var i = 0; i < rows.length; i++) {
                            var cells = rows[i].getElementsByTagName('td');
                            var filename = cells[0].textContent.toLowerCase();
                            if (filename.includes(input)) {
                                rows[i].style.display = '';
                            } else {
                                rows[i].style.display = 'none';
                            }
                        }
                    }

                    function resetTable(){
                        var tableBody = document.getElementById('videoTableBody');
                        var rows = tableBody.getElementsByTagName('tr');
                        for (var i = 0; i < rows.length; i++) {
                            rows[i].style.display = '';
                        }
                        document.getElementById('searchInput').value = '';
                    }
                </script>
                </tbody>
            </table>
            {% else %}
            <p>No incident videos available.</p>
            {% endif %}
        </body>
