<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >ADS Fault Monitoring Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/shimano_logo.jpg') }}" alt="Testing" class="logo">
            </div>
            <div><h1>Shimano Singapore</h1></div>
            <div><h3 style="text-align: left; padding: 5px;"> ADS Fault Monitoring Dashboard </h3></div>
        </div>
        
        <nav class="navbar">
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="/videos">Recorded Videos</a>
              <a href="/incident_videos">Incident Video</a>
              <a href="/settings_page">Settings</a>
            </div>
        </nav>
    </header>

    

    <div class="container">
        {% if username %}
        <h1>Welcome {{ username }}!</h1>
        {% else %}
            <h1>You are not logged in.</h1>
            <a href="/login">Login</a>
        {% endif %}
        <h2 style="text-align: center; padding: 10px;" >Camera 1</h2>
            <div class="stream-container">
                <div class="live-stream">
                    <img src="/video_feed" alt="Live Video Stream">
                </div>
            </div>
    <div class="section-divider"></div> 
        <h2 style="text-align: center; padding-top: 15px;">Controls</h2>
            <div class="control-buttons">
                <form method="POST" action="/start_recording">
                    <button type="submit" class="control-button green">Start Recording</button>
                </form>
                <form method="POST" action="/stop_recording">
                    <button type="submit" class="control-button orange">Stop Recording</button>
                </form>
                <form method="POST" action="/simulate_incident">
                    <button type="submit" class="control-button red">Simulate Incident</button>
                </form>
            </div>
            <div class="section-divider"></div>

            <!--<h2 style="text-align: center; padding: 10px;">Settings</h2>
            <div class="settings-container">
                <form method="POST" action="/update_settings" class="settings-form">
                    <label for="max_videos">Max Videos:</label>
                    <input type="number" name="max_videos" id="max_videos" value="{{ max_videos }}">
                    
                    <label for="video_duration">Video Duration (seconds):</label>
                    <input type="number" name="video_duration" id="video_duration" value="{{ video_duration }}">
                    
                    <button type="submit" class="submit-button">Update Settings</button>
                </form>
            </div>-->
    </div>
</body>
</html>
